
/* Gallery */

.gallery {

	display: grid;
	grid-gap: 15px;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-auto-rows: 250px 150px;
	grid-auto-flow: dense;

	.gallery-item {

		display: flex;
		position: relative;

		img {

			width: 100%;
			height: 100%;
			object-fit: cover;

		}

		.gallery-item-details {

			position: absolute;
			background: $yellow;
			bottom: 0;
			padding: 15px;
			width: 100%;
			z-index: 1;

			h1, h2, h3, h4, h5, h6 {

				margin: 0;
				color: $black;
				text-align: left;

			}

		}

		@media (min-width: 480px) {

			&:first-child {

				grid-area: 1 / 1 / span 2 / span 2;

			}

			&:nth-child(4n) {

				grid-column: span 2;

			}

		}

	}

}