
/* Sections */

section {

	position: relative;
	padding: 30px 0;

	svg {

		width: 80%;

	}

}

section[role="default"] {

	background: $blue;

	h1, h2, h3, h4, p {

		color: $white;

		span {

			color: $black;

		}

	}

	h1 {

		word-spacing: 100vw;
		text-align: left;
		font-size: 5em;
		padding: 0 0 0 60px;

		@media (max-width: $tabletLandscape) {

			word-spacing: inherit;
			text-align: center;
			padding: 0;

		}

	}

	.btn-primary {

	  background: $yellow;
	  border-color: $yellow;
	  color: $black !important;

	  &:hover, &:focus {

	  	background: darken($yellow, 40%);
	  	border-color: darken($yellow, 40%);
	  	color: $white !important;

	  }

	}

	.grid {

		min-height: 100vh;

	}

}

section[role="groups"] {

	padding: 0;
	display: grid;
	grid-template-columns: 1fr auto;

	#itemGroup {

		.item {

			@media (max-width: $mobileLargePortrait) {

				min-width: 25%;
				padding: 15px 0 5px 0;

				h1, h2, h3, h4, h5 {

					display: none;

				}

			}

		}

	}

	.grid {

		margin: 0;

		.item {

			position: relative;
			background: $white;
			margin: 0;
			border-bottom: 1px solid $blue;
			padding: 30px;
			cursor: pointer;
			transition: $fastTransition;
			text-align: center;

			&:hover, &:focus {

				background: $yellow;

			}

		}

		.item.active {

			background: $yellow;
			border: none;

			&:after {

		    content:'';
		    position: absolute;
		    top: 35%;
			  right: 0;
			  left: 100%;
			  margin-left: -60px;
			  border: 30px solid transparent;
				border-right: 30px solid $black;
		    width: 0;
		    height: 0;

				@media (max-width: $tabletLandscape) {

				  top: 66%;
			    left: 50%;
			    margin-left: -30px;
			    border-bottom: solid 30px $black;
					border-left: solid 30px transparent;
					border-right: solid 30px transparent;

				}

				@media (max-width: $mobileLargePortrait) {

					top: 54%;

				}

			}

		}

		+ #groupDetails {

			.grid {

				background: $black;
				color: $white;
				display: none;
				transition: $fastTransition;
				height: 100%;

				.item {

					background: none;
					color: $white;
					cursor: default;
					border: none;

					h1, h2, h3, h4 {

						color: $white !important;

					}

					+ .grid {

						.item {

							h1, h2, h3, h4 {

								color: $white !important;

							}

						}

					}

					.groups {

						.item {

							&:nth-of-type(1) {

								padding: 30px 0 30px 30px;

								@media (max-width: $mobileLargePortrait) {

									padding: 15px;

								}

							}

							&:nth-of-type(2) {

								padding: 30px 0 30px 0;

								@media (max-width: $mobileLargePortrait) {

									padding: 15px;

								}

							}

							&:nth-of-type(3) {

								padding: 30px 30px 30px 0;

								@media (max-width: $mobileLargePortrait) {

									padding: 15px;

								}

							}

						}

					}

					.grid {

						display: flex;

						.item {

							.group-details {

								background: $white;
								margin: 0 -1px;
								padding: 30px;

								h1, h2, h3, h4, h5, p {

									color: $black;

								}

							}

							.group-details.highlight {

								background: $yellow;

								h1, h2, h3, h4, h5, p {

									color: $black !important;

								}

								.btn-primary {

									background: $black;
									color: $white !important;

								}

							}

						}

					}

					&:hover, &:focus {

						background: none;

					}

				}

			}

			.grid.active {

				display: block;

			}

		}

	}

	@media (max-width: $tabletLandscape) {

	   grid-template-columns: 1fr;

	}

}

section[role="sponsors"] {

	background: $blue;

	h1, h2, h3, h4, p, i {

		color: $white !important;

	}

	ul {

		list-style-type: none;
		text-align: center;

		li {

			display: inline-block;
			margin: 0 15px 0 0;

			&:last-child {

				margin: 0;

			}

		}

	}

}

section[role="contact"] {

	background: $black;

	h1, h2, h3, h4, p, i, label {

		color: $white !important;

	}

	input, textarea {

		border: 1px solid $white;
		color: $white;
		transition: $fastTransition;

		&:focus {

			border: 1px solid $yellow;

		}

		&::placeholder {

			color: $white;
			opacity: 1;

		}

	}

}

section[role="page"] {

	background: $blue;
	height: 40vh;
	padding: 5%;
	overflow: hidden;
	border-bottom: 20px solid $black;

	svg {

		width: 100%;

	}

	+ section {

		background: $white;

		h1, h2, h3, h4, h5 {

			text-align: center;

		}

		.feature {

			display: flex;
			align-items: center;
			justify-content: center;
			margin: -100px 0 0 0;

			img, i {

				font-size: 10em;
				background: $white;
				padding: 30px;

			}

		}

		.container {

			padding: 30px 15px;

		}

		.grid {

			.item {

				i {

					font-size: 4em;

				}

			}

		}

		.groups {

			.item {

				padding: 30px 0;
				margin: 0;

				i {

					font-size: 4em;

				}

			}

		}

		.group-details {

			background: $lightGray;
			margin: 0 -1px;
			padding: 30px;
			text-align: center;

			h1, h2, h3, h4, h5 {

				color: $black;

			}

			.btn-primary {

				background: $black;
				border: 1px solid $black;
				color: $white !important;

				&:hover, &:focus {

					background: $white;
					border: 1px solid $white;
					color: $black !important;

				}

			}

		}

		.group-details.highlight {

			background: $blue;

			h1, h2, h3, h4, h5 {

				color: $white !important;

			}

			p {

				color: $white !important;

			}

			.btn-primary {

				background: $yellow;
				border: 1px solid $yellow;
				color: $black !important;

				&:hover, &:focus {

					background: $white;
					border: 1px solid $white;

				}

			}

		}

	}

}

