
/* Sections */

section {

	position: relative;
	padding: 30px 0;

	&:nth-of-type(1) {

		background: $blue;

		h1, h2, h3, h4, p {

			color: $white;

			span {

				color: $black;

			}

		}

		h1 {

			word-spacing: 100vw;
			text-align: left;
			padding: 0 0 0 60px;

			@media (max-width: $tabletLandscape) {

				word-spacing: inherit;
				text-align: center;
				padding: 0;

			}

		}

		.btn-primary {

		  background: $yellow;
		  border-color: $yellow;
		  color: $black !important;

		  &:hover, &:focus {

		  	background: darken($yellow, 40%);
		  	border-color: darken($yellow, 40%);
		  	color: $white !important;

		  }

		}

	}

	&:nth-of-type(2) {

		background: $yellow;

		h1, h2, h3, h4, p {

			color: $black !important;

		}

	}

	&:nth-of-type(3) {

		background: $pink;

		h1, h2, h3, h4, p, i {

			color: $white !important;

		}

		.lead {

			border-color: $white;

		}

		.btn-primary {

		  background: $pink;
		  border-color: $pink;
		  color: $white !important;

		  &:hover, &:focus {

		  	background: darken($pink, 40%);
		  	border-color: darken($pink, 40%);
		  	color: $white !important;

		  }

		}

		.card {

			text-align: center;
			border: none;
			border-radius: 0;
			color: $black !important;

			p {

				color: $black !important;

			}

		}

		.card.highlight {

			background: $black;
			padding: 30px 0;
			margin: 0 -30px;
			color: $white;

			p {

				color: $white !important;

			}

		}

	}

	&:nth-of-type(4) {

		background: $white;

		h1, h2, h3, h4, p {

			color: $black !important;

		}

		.btn-primary {

		  background: $black;
		  border-color: $black;
		  color: $white !important;

		  &:hover, &:focus {

		  	background: darken($black, 40%);
		  	border-color: darken($black, 40%);
		  	color: $white !important;

		  }

		}

		.card.highlight {

			.btn-primary {

				background: $white;
		  		border-color: $white;
		  		color: $black !important;

		  		&:hover, &:focus {

			  		background: darken($white, 40%);
			  		border-color: darken($white, 40%);
			  		color: $black !important;

			  	}

			}

		}

	}

	&:nth-of-type(5) {

		background: $black;

		h1, h2, h3, h4, p, i {

			color: $white !important;

		}

		ul {

			list-style-type: none;
			text-align: center;

			li {

				display: inline-block;
				margin: 0 15px 0 0;

				&:last-child {

					margin: 0;

				}

			}

		}

	}

	svg {

		width: 80%;

	}

}

section[role="default"] {

	.grid {

		min-height: 100vh;

	}

}

section[role="group"] {

	padding: 0;
	display: grid;
	grid-template-columns: 1fr auto;

	#itemGroup {

		.item {

			@media (max-width: $mobileLargePortrait) {

				min-width: 25%;
				padding: 15px 0 5px 0;

				h1, h2, h3, h4, h5 {

					display: none;

				}

			}

		}

	}

	.grid {

		margin: 0;

		.item {

			position: relative;
			margin: 0;
			padding: 30px;
			cursor: pointer;
			transition: $fastTransition;
			text-align: center;

			&:nth-of-type(1) {

				background: $yellow;

			}

			&:nth-of-type(2) {

				background: $pink;

			}

			&:nth-of-type(3) {

				background: $peach;

			}

			&:hover, &:focus {

				background: $white;

			}

		}

		.item.active {

			background: $white;

			&:after {

		    content:'';
		    position: absolute;
		    top: 35%;
			  right: 0;
			  left: 100%;
			  margin-left: -60px;
			  border: 30px solid transparent;
				border-right: 30px solid $black;
		    width: 0;
		    height: 0;

				@media (max-width: $tabletLandscape) {

				  top: 66%;
			    left: 50%;
			    margin-left: -30px;
			    border-bottom: solid 30px $black;
					border-left: solid 30px transparent;
					border-right: solid 30px transparent;

				}

				@media (max-width: $mobileLargePortrait) {

					top: 54%;

				}

			}

		}

		+ #groupDetails {

			.grid {

				background: $black;
				color: $white;
				display: none;
				transition: $fastTransition;
				height: 100%;

				.item {

					background: none;
					color: $white;
					cursor: default;

					h1, h2, h3, h4 {

						color: $white !important;

					}

					+ .grid {

						.item {

							h1, h2, h3, h4 {

								color: $white !important;

							}

						}

					}

					.grid {

						display: flex;

						.item {

							.card {

								background: $white;

								h1, h2, h3, h4, h5 {

									color: $black;

								}

							}

							.card.highlight {

								h1, h2, h3, h4, h5 {

									color: $black !important;

								}

								p {

									color: $black !important;

								}

							}

						}

					}

					&:hover, &:focus {

						background: none;

					}

				}

			}

			.grid.active {

				display: block;

			}

		}

	}

	@media (max-width: $tabletLandscape) {

	   grid-template-columns: 1fr;

	}

}

section[role="sponsors"] {

	background: $blue;

	h1, h2, h3, h4, p, i {

		color: $white !important;

	}

	ul {

		list-style-type: none;
		text-align: center;

		li {

			display: inline-block;
			margin: 0 15px 0 0;

			&:last-child {

				margin: 0;

			}

		}

	}

}

section[role="page"] {

	height: 40vh;
	padding: 5%;
	overflow: hidden;
	border-bottom: 20px solid $black;

	svg {

		width: 100%;

	}

	+ section {

		background: $white;

		h1, h2, h3, h4, h5 {

			text-align: center;

		}

		.icon {

			background: $white;
			padding: 30px;
			position: absolute;
			top: -80px;
			left: 43%;

			i {

				font-size: 10em;

			}

		}

		.container {

			padding: 9% 0 0 0;

		}

		.grid {

			.item {

				i {

					font-size: 4em;

				}

			}

		}

		.card {

			background: $lightGray;

			.btn-primary {

				background: $blue;
	  		border-color: $blue;
	  		color: $white !important;

	  		&:hover, &:focus {

		  		background: darken($blue, 40%);
		  		border-color: darken($blue, 40%);
		  		color: $white !important;

		  	}

			}

		}

		.card.highlight {

			background: $blue;
			border: 1px solid $blue;

			.btn-primary {

				background: $black;
	  		border-color: $black;
	  		color: $white !important;

	  		&:hover, &:focus {

		  		background: darken($black, 40%);
		  		border-color: darken($black, 40%);
		  		color: $white !important;

		  	}

			}

		}

	}

}

