
/* Typography */

h1, h2, h3, h4 {

	font-family: $titleFontFamily;
	font-weight: $titleFontWeight;

	@media (max-width: $mobileLargeLandscape) {

		text-align: center;

	}

}

h1 {

	font-size: 5em;

	@media (max-width: $mobileLargePortrait) {

		font-size: 3em;

	}

}

body {

	font-family: $bodyFontFamily;
	font-size: $bodyFontSize;

}